*{margin:0;padding:0;box-sizing:border-box; transition:all 1s;}
*::before,*::after{box-sizing:border-box;transition:all 1s;}
body{
    position:relative;
    display:flex;
    flex-direction: column; 
    height:100vh;
}
.codePaper{
    height:35%;
}
#code{
    height:100%;
    overflow:hidden;
}
.token.selector,
.token.property,
.token.function{
    color:black;
}
button{
    outline:none;
    border:0;
    border:1px transparent solid;
    border-top-color:#C7F5B7;
    border-bottom-color:#85C620;
    background:linear-gradient(180deg, #AAE54B 0%, #96D735 100%); 
    box-shadow:0 0 0 1px #5C973D, 0px 5px 14px -3px rgba(0,0,0,0.75);
    cursor: pointer;
    font-size:24px;
    font-family:黑体;
    border-radius:5px;
    padding:10px;
    margin-right:20px;
    margin-top: 10px;
    transition:none;
}
button>span{
    transition:none;
    color:black;
}
button:hover{
    box-shadow: inset 0px 20px 108px -53px rgba(255,255,255,1),
    0 0 0 1px #5C973D, 0px 5px 14px -3px rgba(0,0,0,0.75);
}
button.active >span{
    color:white;
}
.buttonArea{
    position:fixed;
    right:0;
    display: flex;
    flex-direction: column;
    transition:none;
}
#adjustSpeed{
    position:fixed;
    right:0;
}
.eye.left {
    left: 60px;
}
.eye.left::after {
    left: 18px;
}
.eye.right {
    right: 60px;
}
.eye.right::after {
    right: 18px;
}

.ear.left {
    left: 58px;
}
.ear.left::before {
    left: 65px;
}
.ear.right {
    right: 58px;
}
.ear.right::before {
    right: 65px;
}
.wrapper{
    background: linear-gradient(to bottom right, #40AB75 25%, #74AD08 50%, #ccc 50%, #eee 65%, #f5f5f5 85%, #fff 100%);
}
.mouth{
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
}

@keyframes letfhandRotate{
    0%{ transform: rotate(25deg) }
  50%{ transform: rotate(80deg) }
  100%{ transform: rotate(25deg) }
}
@keyframes righthandRotate{
    0%{ transform: rotate(-25deg) }
  50%{ transform: rotate(-80deg) }
  100%{ transform: rotate(-25deg) }
}

.kumamon.active::before{
    animation: letfhandRotate 1s linear infinite;
}
.kumamon.active::after{
    animation: righthandRotate 1s linear infinite;
}
.eye.active::before {
    width:20px;
    height:20px;
    border:5px #0c0606 solid;
    margin-top: 17px;
    border-radius: 0;
    background: transparent;
}
.eye.left.active::before{
    border-left-color:transparent;
    border-bottom-color:transparent;
    transform:rotate(45deg);
}
.eye.right.active::before{
    border-right-color:transparent;
    border-bottom-color:transparent;
    transform:rotate(-45deg);
}
.propagate{
    display: none;
    opacity: 0;
    cursor: pointer;
    position: relative;
    margin-top:50px;
}
.propagate p{
    display: none;
    font-size:18px;
    font-weight:bold;
    padding:20px;
    border:2px #74AD08 solid;
    border-radius:15px;
    background: white;
}
.propagate p.active{
    display: block;
}
.propagate p::before{
    content:'';
    display:block;
    border:25px transparent solid;
    border-bottom-color:#74AD08;
    position:absolute;
    bottom:100%;
    left:50%;
}
.propagate p::after{
    content:'';
    display:block;
    border:21px transparent solid;
    border-bottom-color:white;
    position:absolute;
    bottom:98%;
    left:50%;
    margin-left:4px;
}
.propagate .PCDescribe::after{
    bottom:97%;
}
.propagate.Phone p{
    font-size:45px;
}
.QRCode{
    position: absolute;
    top:0; height:0;
    width:100%;
    height:100%;
    background: rgba(255,255,255,0.8);
}
.QRCode{
    display: none;
    justify-content: center;
    align-items: center;
    z-index:3;
}
.QRCode.Phone{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.QRCode.active{
    display: flex;
}
.QRCode img{
    width:30%;
}
.QRCode svg{
    position:absolute;
    top:0;
    right:0;
    margin:30px;
    cursor: pointer;
}
.QRCode span{
    text-align: center;
    font-size:40px;
    color:black;
    font-weight: bold;
    line-height: 43px;
    margin:200px 0;
}